## EXPIRES CACHING ## 
<IfModule mod_expires.c>

ExpiresActive On ExpiresByType image/jpg "access plus 1 year"

ExpiresActive On ExpiresByType image/png "access plus 1 year"

ExpiresDefault "access plus 365 days" 
</IfModule> 
## EXPIRES CACHING ##